<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="coloredConsole" xsi:type="ColoredConsole" 
            layout="${date:format=HH\:mm\:ss}|${logger}：${message} ${exception}" />

    <target name="reporterConsole" xsi:type="ColoredConsole"
            layout="${message} ${exception}" />

    <target name="file" xsi:type="File" archiveNumbering="DateAndSequence" 
            fileName="${basedir}/logs/${shortdate}/${level}.log" 
            layout="${level} ${date:format=yyyy-MM-dd HH\:mm\:ss} ${logger:-5} ${message} ${exception}" />
  </targets>
  <rules>
    <logger final="true" name="Reporter" minlevel="Trace" writeTo="reporterConsole" />
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>